<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upb.omaigad.upbmatch.upb_match" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".bussinesslogic.UPBMatchApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.GlobalScore"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ActivityScore"
            android:label="@string/title_activity_activity_score" >
        </activity>
        <activity
            android:name=".views.ActivityRules"
            android:label="@string/title_activity_activity_rules"
            android:parentActivityName=".views.ActivityScore" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upb.omaigad.upbmatch.upb_match.views.ActivityScore" />
        </activity>
        <activity
            android:name=".views.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".views.Calendar"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".views.ActivityMenu"
            android:label="@string/title_activity_activity_menu"
            android:parentActivityName=".views.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upb.omaigad.upbmatch.upb_match.views.BaseActivity" />
        </activity>
    </application>

</manifest>
